@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Thin.otf") format("opentype");
	font-weight: 100;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_ThinOblique.otf") format("opentype");
	font-weight: 100;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_ExtraLight.otf") format("opentype");
	font-weight: 200;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_ExtraLightOblique.otf") format("opentype");
	font-weight: 200;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Light.otf") format("opentype");
	font-weight: 300;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_LightOblique.otf") format("opentype");
	font-weight: 300;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza.otf") format("opentype");
	font-weight: 400;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Oblique.otf") format("opentype");
	font-weight: 400;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Medium.otf") format("opentype");
	font-weight: 500;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_MediumOblique.otf") format("opentype");
	font-weight: 500;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_SemiBold.otf") format("opentype");
	font-weight: 600;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_SemiBoldOblique.otf") format("opentype");
	font-weight: 600;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Bold.otf") format("opentype");
	font-weight: 700;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_BoldOblique.otf") format("opentype");
	font-weight: 700;
	font-style: oblique;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_Black.otf") format("opentype");
	font-weight: 900;
	font-style: normal;
}
@font-face{
	font-family: "Elza";
	src: url("/public/fonts/elza/Elza_BlackOblique.otf") format("opentype");
	font-weight: 900;
	font-style: oblique;
}
@font-face{
	font-family: "Lalezar";
	src: url("/public/fonts/lalezar/Lalezar-Regular.ttf") format("truetype");
	font-weight: 400;
	font-style: normal;
}
