:root {
	--forest-green: #2f5940;
	--slate-green: #6e8276;
	--ice-green: #e9ffcf;
	--charleston-green: #232B2B;
	--black: #000000;
	--ivory: #fffff2;
	--white: #ffffff;
}

*{
	margin: 0;
	padding: 0;
}

body {
	background: var(--ivory);
}

.header{
	height: 50px;
	padding: 5px 200px;
	background: var(--slate-green);
	border-bottom: 5px var(--forest-green) solid;
}

#nazaradehlogo{
	height: 50px;
	float: left;
	margin: 0;
	padding: 0;
}
